<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <title>New Post</title>
</head>
<body class="flex-grow">
    <div class="container-fluid h-100">
      <div class="row">
        <%- include('partials/side-menu') %>
        <div class="col-9 flex-grow-0 mx-auto px-5 py-4">
          <h2 class="mb-4 pb-2 text-center border-bottom border-2 w-100 mx-auto">New Untitled Article</h2>
          <form id="article-content-metadata-form" class="col">
            <div class="d-flex">
              <div class="row">
                <!-- Leftmost col containing labels -->
                <div class="col">
                  <label for="author" class="p-1 my-2 mx-5">Author</label>
                  <label for="tags" class="p-1 my-2 mx-5 text-right">Article Tags</label>
                </div>
                <!-- Left inputs-->
                <div class="col flex-grow-0">
                  <input type="text" id="author" name="author" placeholder="Article Author" class="p-1 my-2" />
                  <input type="text" id="tags" name="tags" placeholder="Article tags" class="p-1 my-2"/>
                </div>
                <!-- Right col containing labels -->
                <div class="col">
                  <label for="article-category" class="p-1 my-2 mx-5">Category</label>
                  <label for="image-upload" class="p-1 my-2 mx-5">Image</label>
                  <label for="image-caption" class="p-1 my-2 mx-5">Image Caption</label>
                </div>
                <!-- Right inputs-->
                <div class="col flex-grow-0">
                  <select id="article-category" name="article-category" class="p-1 my-2">
                    <option value="Business">Business</option>
                    <option value="Economy">Economy</option>
                    <option value="Opinion">Opinion</option>
                    <option value="Sport">Sport</option>
                    <option value="Live">LIVE</option>
                  </select>
                  <input type="file" name="image-upload" accept="image/*" placeholder="Select Image" class="p-1 my-2"/>
                  <input type="text" id="image-caption" name="image-caption" placeholder="Describe your image." class="p-1 my-2"/>
                </div>
              </div>
            </div>
            <div id="text-editor" class="d-flex flex-column mx-5 my-4 fs-5 h-100">
                <input type="text" name="articl-title" placeholder="Article title goes here." class="p-2 my-2 border-disable border-bottom border-focus-disable"/>
                <textarea id="textarea" class="p-2 flex-grow-1 resize-disable border-focus-disable" placeholder="Write your article here!"></textarea>
            </div>
            <div id="buttons" class="mx-5">
              <button type="button" class="p-1 px-4 m-2 btn btn-secondary">Save Draft</button> 
              <button type="button" class="p-1 px-4 m-2 btn btn-danger">Publish</button> 
              <button type="button" class="p-1 px-4 m-1 btn btn-warning">
              <i class="fas fa-lg fa-clock me-2"></i>
              Schedule Publish
              </button> 
            </div>
          </form>
        </div>
      </div>
    </div>
    <script defer src="/js/create.js"></script>
</body>
</html>