<header>
    <div class="jumbotron jumbotron-fluid bg-white py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <img src="/img/gutenberg.png" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand " href="#">Menu</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search titles or tags" aria-label="search">
                <button class="btn btn-outline-success" type="submit">Search</button>  
            </form>
        </div>    
    </nav>
</header>