<header class="sticky-top">
    <nav class="navbar navbar-expand-lg flex-row navbar-dark bg-indigo-500 ms-auto px-2 px-md-5 py-md-3" id="nav-wrapper">
        <div class="container-fluid py-2 d-flex justify-content-center px-1 px-md-5">
            <div class="col-4 px-3">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link" href="/live">Live</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/">Front Page</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Opinion</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-4 px-3 d-none d-md-block">
                <a href="/">
                    <img src="/img/gutenberg-white.png" class="img-fluid overflow-hidden m-auto d-block" style="max-width: 75%; height: auto;"/>
                </a>
            </div>
            <div class="col-4 px-sm-3">
                <form class="d-flex justify-content-end " id="search-form">
                    <input class="form-control me-2 search-form-width" id="search-input" type="search" placeholder="Search titles or tags" aria-label="search">
                    <button class="btn text-white" id="search-submit-button" type="submit" style="border-color: white;">Search</button>  
                </form>
            </div>
        </div>    
    </nav>
</header>