<header>
    <div class="jumbotron jumbotron-fluid bg-white py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <img src="/img/gutenberg.png" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ms-auto">
        <div class="container-fluid">
            <a class="navbar-brand ">Menu</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" href="/live">Live</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/">Front Page</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Opinion</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search titles or tags" aria-label="search">
                <button class="btn text-white" type="submit" style="border-color: white;">Search</button>  
            </form>
        </div>    
    </nav>
</header>