<div class="card">
    <div class="card-header fs-3 bg-indigo-500 text-white">
        Some news title
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0 fs-5">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </blockquote>
    </div>
  </div>