# project- or build-specific files
node_modules
bootstrap-5.3.3
favicon.ico
log.txt
errorlog.txt
temp
dist
app-config.yml

# environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# files generated during testing
.cpuprofile
