<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Home</title>
<body>
    <h1>Variable: <%= myvar %> </h1>
    <!-- Including bootstrap elements later -->
</body>
</html>