<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <title>Publizier Login</title>
</head>
<body class="d-flex flex-column justify-content-between mx-0 font-quicksand-400">
    <%- include('partials/header') %>
    <div class="d-flex justify-content-center">
        <form id="login-form">
            <input type="text" id="username-input" name="tags" placeholder="Username" class="p-1 my-2"/>
            <input type="text" id="password-input" name="tags" placeholder="Password" class="p-1 my-2"/>
        </form>
    </div>
</body>
</html>