<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>Gutenberg</title>
</head>
<body class="mx-0">
    <%- include('partials/header') %>
    <div class="col">
        <% if (numResults > 0) { %>
            <div>Search Results</div>
            <% searchResults.forEach(article => { %>
                <div>
                    <%- include('partials/search-result', { article }) %>
                </div>
            <% }); %>
        <% } else  { %>
            <div>No articles containing the specified tag or keyword.</div>
        <% } %>
        <%- include('partials/footer') %>
    </div>
</body>
</html>