/* Colours */

.bg-theme-2 {
    background-color: #f1f5f9;
}

.border-theme-1 {
    border: 1px solid #0f172a;
}

.border-bottom-theme-1 {
    border-bottom: 1px solid #0f172a;
}

.bg-indigo-500 {
    background-color: #0f172a;
}

/* Custom font and text properties */

/* bootstraps's text-justify is deprecated, so this is a custom fix */
.cs-text-justify {
    text-align: justify;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.font-quicksand-400, .font-quicksand-500 {
    font-family: 'Quicksand';

}

.font-quicksand-500 {
    font-weight: 500;
}

.font-quicksand-600 {
    font-weight: 600;
}

.font-theme-dark {
    color: #0f172a;
}

.font-theme-light {
    color: #f1f5f9;
}

/* For client-side interactions */

.pointer:hover {
    cursor: pointer;
}

.scale-up:hover {
    animation: scale-up 0.15s ease-in-out forwards;
}

/* images */

.article-img {
    max-width: 75%; 
    height: auto;
}

/* arbitrary */

html, body {
    font-family: 'Quicksand';
    scroll-behavior: smooth;
    height: 100%;
}

textarea, textarea:focus {
    border: none;
    outline: none;
}

input:focus {
    outline: none;
}

.spacer {
    height: 50px;
}

.resize-disable {
    resize: none;
}

.border-disable {
    border: 0; 
}

.small-menu-font {
    font-size: 14px;
}

.search-form-width {
    max-width: 66%;
}

/* ANIMATIONS */

@keyframes scale-up {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
