<footer class="text-center text-lg-start bg-indigo-500 text-white mx-0 my-0">
    <!-- Horizontal section for text and icons -->
    <section class="d-flex justify-content-end p-4 border-bottom">
        <div class="me-4 d-none d-lg-block">
            <span>Connect with us on these networks </span>
        </div>
        <div>
            <a href="#" class="me-4 text-reset text-decoration-none">
                <i class="fab fa-telegram fa-2x"></i>
            </a>
            <a href="#" class="me-4 text-reset text-decoration-none">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="#" class="me-4 text-reset text-decoration-none">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </div>
    </section>
    <!-- Link Section -->
    <section>
        <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
            <div class="row mt-3">
                <!-- Column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-3">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                    About
                    </h6>
                    <p>
                        <a href="/about/" class="text-reset text-decoration-none">About Us</a>
                    </p>
                    <p>
                        <a href="/about/policy" class="text-reset text-decoration-none">Privacy Policy</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Careers</a>
                    </p>
                </div>

                <!-- Column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-3">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                    Useful Links
                    </h6>
                    <p>
                        <a href="/about/app" class="text-reset text-decoration-none">Gutenberg App</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Podcasts</a>
                    </p>
                    <p>
                        <a href="/documentation" class="text-reset text-decoration-none">Help</a>
                    </p>
                </div>
    
                <!-- Grid column -->
                <div class="col-md-8 col-lg-3 col-xl-3 mx-auto mb-3">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p>
                        <i class="fas fa-home me-3"></i>
                        111 Wellington St, Ottawa K1A 0A6
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@exampleexample.ca
                    </p>
                    <p>
                        <i class="fas fa-phone me-3"></i>
                         +1 (234) 567 890
                    </p>
                </div>
            </div>
            <!-- Close grid  row -->
        </div>
    </section>
    <div class="text-center pb-3 pt-1">
        © 2025 Copyright:
        <a class="text-reset fw-bold text-decoration-none" href="#">GutenbergExample.ca</a>
    </div>
</footer>