<card class="card border-theme-1">
  <div class="card-header">
      Some news title
  </div>
  <div class="card-body d-flex">
    <img src="/img/placeholder/wef.jpg" class="col img-fluid rounded overflow-hidden d-none d-md-block" style="max-width: 20%; height: auto;"/>
    <blockquote class="col blockquote m-auto px-3 d-block">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
    </blockquote>
  </div>
</card>