<div id="app-health-master" class="card my-2 p-4">
    <h3>App Health</h3>
    <div class="row fs-5">
        <div class="col flex-grow-0 text-nowrap">
            <p>Server Uptime</p>
            <p>Host Uptime</p>
            <p>Total Error Rate</p>
            <p>Day Error Rate</p>
            
        </div>
        <div class="col flex-grow-1">
            <p id="server-uptime-res">: <%= serverUptime %></p>
            <p id="host-uptime-res">: <%= hostUptime %></p> 
            <p id="ter-res">:</p> 
            <p id="der-res">:</p>
        </div>
    </div>
    <div>
        <h4>Live Error Log</h4>
    </div>
</div>