<div id="latest-post-master">
    <div id="latest-post-stats">
        <h3>Statistics for your latest post:</h3>
        <div class="row fs-5">
            <div class="col flex-grow-0 text-nowrap">
                <p>Click Rate</p>
            </div>
            <div class="col flex-grow-1">
                <p id="clickrate-res">:</p>
            </div>
        </div>
    </div>
</div>