<div id="actions" class="col bg-indigo-500 text-white ps-2 pe-3 flex-grow-0 text-center small-menu-font vh-100">
  <a href="/admin" class="text-decoration-none text-white">
    <p class="mt-2 mb-3 mx-2 fs-5 ">Dashboard</p>
  </a>
    
    <a href="#" class="d-flex flex-column text-center text-decoration-none text-white mb-1 py-3">
      <i class="fas fa-2x fa-newspaper"></i>
      <p class="mt-2">Manage Posts</p>
    </a>

    <a href="/admin/create" class="d-flex flex-column text-center text-decoration-none text-white mb-1 py-3">
      <i class="fas fa-2x fa-solid fa-pen-nib"></i>
      <p class="mt-2">New Post</p>
    </a>
    
    <a href="/create" class="d-flex flex-column text-center text-decoration-none text-white py-3">
      <i class="fas fa-2x fa-chart-line"></i>
      <p class="mt-2">Analytics</p>
    </a>

    <a href="/test" class="d-flex flex-column text-center text-decoration-none text-white py-3">
      <i class="fas fa-2x fa-database"></i>
      <p class="mt-2">Data Viewer</p>
    </a>

    <a href="/admin/test" class="d-flex flex-column text-center text-decoration-none text-white py-3">
      <i class="fas fa-2x fa-cog"></i>
      <p class="mt-2">Customize</p>
    </a>

    <a href="#" class="d-flex flex-column text-center text-decoration-none text-white mb-1 py-3">
      <i class="fas fa-2x fa-sign-out-alt"></i>
      <p class="mt-2">Logout</p>
    </a>
  </div>